/* Đổi màu nền cho toàn bộ màn hình */
.root {
    -fx-background-color: #f4f4f4;
}

/* Làm đẹp nút bấm */
.button {
    -fx-background-color: #2196F3; /* Màu xanh công nghệ */
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-radius: 20; /* Bo tròn góc nút */
    -fx-cursor: hand; /* Hiện bàn tay khi di chuột vào */
}

/* Hiệu ứng khi di chuột qua nút */
.button:hover {
    -fx-background-color: #1976D2;
    -fx-scale-x: 1.05; /* Phóng to nhẹ */
    -fx-scale-y: 1.05;
}

/* Làm đẹp ô nhập liệu */
.text-field {
    -fx-background-radius: 10;
    -fx-border-color: #ddd;
    -fx-border-radius: 10;
    -fx-padding: 8;
}
.combo-box {
    -fx-background-radius: 10;
    -fx-border-color: #ddd;
    -fx-border-radius: 10;
    -fx-background-color: white;
}

.combo-box .list-cell {
    -fx-text-fill: #333;
    -fx-padding: 5 10;
}
/* Thêm vào style.css để khung login nhìn xịn hơn */
.root {
    -fx-background-color: #f0f2f5;
}
#loginCard { /* Đặt ID cho cái Pane trắng là loginCard */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 10, 0, 0, 5);
}